<%= case @activity.subject do %>
  <% :post_created -> %>
    <%= dgettext("activity", "The post %{post} was created by %{profile}.", %{
      profile: "<b>#{escaped_display_name_and_username(@activity.author)}</b>",
      post:
        "<a href=\"#{Routes.page_url(Mobilizon.Web.Endpoint,
        :post,
        @activity.subject_params["post_slug"]) |> URI.decode()}\">
                            #{escape_html(@activity.subject_params["post_title"])}
                        </a>"
    })
    |> raw %>
  <% :post_updated -> %>
    <%= dgettext("activity", "The post %{post} was updated by %{profile}.", %{
      profile: "<b>#{escaped_display_name_and_username(@activity.author)}</b>",
      post:
        "<a href=\"#{Routes.page_url(Mobilizon.Web.Endpoint,
        :post,
        @activity.subject_params["post_slug"]) |> URI.decode()}\">
                            #{escape_html(@activity.subject_params["post_title"])}
                        </a>"
    })
    |> raw %>
  <% :post_deleted -> %>
    <%= dgettext("activity", "The post %{post} was deleted by %{profile}.", %{
      profile: "<b>#{escaped_display_name_and_username(@activity.author)}</b>",
      post: "<b>#{escape_html(@activity.subject_params["post_title"])}</b>"
    })
    |> raw %>
<% end %>
